.inter-normal {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    color:aliceblue;
}
.btn{
    background-color: #4e47ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.logo {
  color: #4e47ff;
  font-size: 34px;
  font-weight: 900;
}
header {
  background-image: url('Hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 698px;
  margin: 0 auto;
}
nav {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px 0 150px;
  gap: 909px;
  margin: 0 auto;
}
nav button {
  width: 132px;
  height: 48px;
}
.banner {
  margin: 0 auto;
  align-items: center;
  width: 905px;
  height: 237px;
  text-align: center;
}
.intro{
  margin-top: 150px;
  font-size: 65px;
  color: black;
  font-weight: 700;
  width: 905px;
  text-align: center;
  margin-bottom: 37px;
}
.btn1{
  margin-top: 0;
  width: 174px;
  height: 48px;
}
.action{
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 116px auto;
  gap: 220px;
}
.container {
  width: 517px;
  height: 203px;
}
.title{
   
  color: black;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;

}
.subtitle{
     margin: 23px 0;
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  width: 517px;
}
.webflow{
      border-radius: 48px;
  width: 403px;
}
    .action2 {
  margin: 0 auto;
  max-width: 1140px;
  height: 306px;
  border-radius: 24px;
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
}
.join{
  width: 856px;
  height: 206px;
  margin: 0 auto;
  padding: 50px 142px;
}
.joinheading {
  color: black;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}
.containeer{
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 158px;
}
.jtitle {
  color: #4e47ff;
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.focus{
    max-width: 1140px;
  height: 696.77px;
  background-color: rgb(255, 248, 248);
  border-radius: 14px;
  margin: 0 auto;
  padding: 71px 150px;
  text-align: center;
}
.f-title{
color: black;
font-size: 50px;
font-weight: 700;
margin: 0;
}
.f-description{
    font-size: 16;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}
.f-btn{
     width: 195px;
  height: 48px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;

}
.fpic{
     width: 840px;
  align-items: center;
  margin: 0 auto;
}
.fpic img {
  border-radius: 48px;
}
.feedback-section{
    max-width: 1140px;
    margin: 137px auto 137px;
    height: 342px;
}
.fstitle{
    color: black;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
}
.fscardcontainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.fscard{
    width: 370px;
    padding: 24px;
    background-color: rgba(163, 161, 161, 0.5);
    border-radius: 14px;
}
.fscpic{
    display: flex;
    gap: 4px;
    margin: 0;
}
.fsctitle{
    color: rgba(30, 30, 30, 1);
    font: 24px;
    font-weight: 600;
    margin: 24px ,0,0,0;
    margin-top: 24px;
}
.fscdescription{
    font-size: 16px;
    font-weight: 400;
    color: rgba(30, 30, 30, 1);
    width: 320px;
    margin: 8px 0 24px 0;
}
.fscprofile{
    height: 45px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.fscpic{
    border-radius: 50%;

}
.fscptitle{
    font-size: 16px;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
    margin: 0;
    margin-bottom: 2px;
}
.fscpdescription{
    font-size: 14px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    margin: 0;
}

.fscardtitle{
    color: black;
    font-size: 20px;
}
.touch{
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  gap: 115px;
  height: 632px;
}
.ttitle{
     color: black;
  font-size: 97px;
  font-weight: 700;
  width: 528px;

}
label{
    display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  color: black;

}
input{
    width: 465px;
  height: 70px;
  border-radius: 10px;
  border: 15px;
  outline: none;
  padding-left: 32px;
  font-size: 1.2rem;
}

input::placeholder {
  color: rgba(8, 0, 0, 0.5);
  font-size: 20px;
  border: 15px;
}
textarea {
  width: 465px;
  height: 135px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 32px;
  padding-top: 19px;
  font-size: 1.2rem;
}
textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.form-btn {
  width: 497px;
  height: 70px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 19px;
}
footer{
    background-color: whitesmoke;
    height: 430px;
    margin: 0 auto;
    text-align: center;
}
.fdiv{
    width: 530px;
    margin: 105px auto 0;
    padding-top: 100px;
}
.ftitle{
    color: #4e47ff;
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.ffdescription{
    color: rgba(140,130 , 167,1);
font-size: 16px;
margin: 0;
padding-top: 9px;
padding-bottom: 22px;
}
.flink{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.flink a{
    text-decoration: none;
    font-size: 16px;
    color:rgba(130,136,167,1);
}