.inter-normal {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    color:aliceblue;
}
.btn{
    background-color: #4e47ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.logo {
  color: #4e47ff;
  font-size: 34px;
  font-weight: 900;
}
header {
  background-image: url('Hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 698px;
  margin: 0 auto;
}
nav {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px 0 150px;
  gap: 909px;
  margin: 0 auto;
}
nav button {
  width: 132px;
  height: 48px;
}
.banner {
  margin: 0 auto;
  align-items: center;
  width: 905px;
  height: 237px;
  text-align: center;
}
.intro{
  margin-top: 150px;
  font-size: 65px;
  color: black;
  font-weight: 700;
  width: 905px;
  text-align: center;
  margin-bottom: 37px;
}
.btn1{
  margin-top: 0;
  width: 174px;
  height: 48px;
}
.action{
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 116px auto;
  gap: 220px;
}
.container {
  width: 517px;
  height: 203px;
}
.title{
   
  color: black;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;

}
.subtitle{
     margin: 23px 0;
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  width: 517px;
}
.webflow{
      border-radius: 48px;
  width: 403px;
}
    .action2 {
  margin: 0 auto;
  max-width: 1140px;
  height: 306px;
  border-radius: 24px;
  background-color: rgba(78, 71, 255, 0.1);
  text-align: center;
}
.join{
  width: 856px;
  height: 206px;
  margin: 0 auto;
  padding: 50px 142px;
}
.joinheading {
  color: black;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}
.containeer{
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 158px;
}
.jtitle {
  color: #4e47ff;
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.focus{
    max-width: 1140px;
  height: 696.77px;
  background-color: white;
  border-radius: 14px;
  margin: 0 auto;
  padding: 71px 150px;
  text-align: center;
}
.f-title{
color: black;
font-size: 50px;
font-weight: 700;
margin: 0;
}
.f-description{
    font-size: 16;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}
.f-btn{
     width: 195px;
  height: 48px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;

}
.fpic{
     width: 840px;
  align-items: center;
  margin: 0 auto;
}
.fpic img {
  border-radius: 48px;
}
.touch{
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  gap: 115px;
  height: 632px;
}
.ttitle{
     color: black;
  font-size: 97px;
  font-weight: 700;
  width: 528px;

}
label{
    display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;

}
input{
    width: 465px;
  height: 70px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 32px;
  font-size: 1.2rem;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
textarea {
  width: 465px;
  height: 135px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 32px;
  padding-top: 19px;
  font-size: 1.2rem;
}
textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.form-btn {
  width: 497px;
  height: 70px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 19px;
}